@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  padding: 50px 0;
}

.title {
  font-size: 36px;
  color: #000;
  margin-bottom: 15px;
  line-height: 48px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  color: #777;
  margin-bottom: 15px;
  line-height: 30px;
}

.sm__title {
  font-size: 18px;
  font-weight: 600;
  color: #ff3f00;
  margin-bottom: 15px;
  text-transform: uppercase;
  line-height: 30px;
}

h1,
h2,
h3,
h4 {
  font-family: "Yeseva One", cursive;
}

h5,
h6,
p,
a,
label {
  font-family: "Josefin Sans", sans-serif;
}

.form-control {
  font-family: "Josefin Sans", sans-serif;
}

button {
  font-family: "Josefin Sans", sans-serif;
}

.primary__button {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  height: 56px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary__button.blue {
  color: #fff;
  background-color: #0047b0;
  border: 1px solid #0047b0;
}
.primary__button.blue span {
  margin-right: 15px;
}
.primary__button.orange {
  color: #fff;
  background-color: #ff3f00;
  border: 1px solid #ff3f00;
}
.primary__button.orange span {
  margin-right: 15px;
}
.primary__button.size__lg {
  height: 72px;
  padding: 0 40px;
}

.text__link {
  font-size: 24px;
  font-weight: 600;
  color: #0047b0;
  text-decoration: none;
}
.text__link span {
  margin-right: 15px;
}

.input__field {
  margin-bottom: 30px;
}
.input__field label {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}
.input__field label .required {
  color: #ff3f00;
}
.input__field .primary__input {
  min-height: 56px;
  width: 100%;
  background-color: #f9f9f9;
  font-size: 18px;
  color: #000;
  border: 1px solid #f9f9f9;
  box-shadow: none !important;
}
.input__field .primary__input:focus {
  border-color: #0047b0;
}

input,
select {
  outline: none !important;
}

.course__card {
  margin-bottom: 45px;
}
.course__card .image__wrapper {
  width: 100%;
  display: block;
  height: 200px;
  margin-bottom: 30px;
}
.course__card .image__wrapper img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.course__card .course__name {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
  line-height: 30px;
  text-decoration: none;
}
.course__card .course__duration {
  font-size: 18px;
  font-weight: 400;
  color: #777;
  margin-bottom: 0;
  line-height: 30px;
}
.course__card .course__duration span {
  font-weight: 600;
  color: #000;
}

.success__story__card {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.success__story__card .student__image__wrapper {
  height: 300px;
  width: 160px;
  flex-shrink: 0;
  transform-style: preserve-3d;
}
.success__story__card .student__image__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 60%;
  background-image: url("../../image/students/graphics.svg");
  background-repeat: no-repeat;
  transform: translateZ(-1px);
}
.success__story__card .student__image__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.success__story__card .detail__information {
  display: inline-block;
  border: 1px solid #e0e0e0;
  padding: 15px 15px 15px 30px;
  position: relative;
  background-color: white;
}
.success__story__card .detail__information .student__name {
  font-size: 18px;
  font-weight: 700;
  color: #ff3f00;
  margin-bottom: 5px;
  line-height: 30px;
}
.success__story__card .detail__information .engage__company {
  font-size: 16px;
  font-weight: 400;
  color: #777;
  margin-bottom: 0px;
}
.success__story__card .detail__information .enrolled__position {
  font-size: 16px;
  font-weight: 600;
  color: #0047b0;
  margin-bottom: 0px;
}
.success__story__card .detail__information .faculty {
  font-size: 16px;
  font-weight: 400;
  color: #777;
  margin-bottom: 5px;
}
.success__story__card .detail__information .college_name {
  font-size: 16px;
  font-weight: 400;
  color: #777;
  margin-bottom: 0;
}

.accordion {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.accordion .accordion-item {
  border-bottom: 1px solid #777;
  padding: 20px 0;
}
.accordion .accordion-item:first-child {
  border-top: 1px solid #777;
}
.accordion .accordion-item:last-child {
  border-bottom: 1px solid #777;
}
.accordion .accordion-item .accordion-button {
  font-size: 24px;
  color: #000;
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff;
  box-shadow: none;
  border: none;
}
.accordion .accordion-item .accordion-button .index {
  font-weight: 600;
  color: #ff3f00;
  margin-right: 15px;
}
.accordion .accordion-item .accordion-button::after {
  background: none;
  content: "+";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  height: auto;
  width: auto;
}
.accordion .accordion-item .accordion-button:not(.collapsed)::after {
  content: "\f068";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
}
.accordion .accordion-item .accordion-body {
  font-size: 18px;
  color: #000;
  font-family: "Josefin Sans", sans-serif;
  text-align: start;
}

.slick__slider__with__arrow button.slick-arrow {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #d5e6ff;
  z-index: 10;
}
.slick__slider__with__arrow button.slick-prev {
  left: -12px;
}
.slick__slider__with__arrow button.slick-prev::before {
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  color: #0047b0;
  font-weight: 900;
}
.slick__slider__with__arrow button.slick-next {
  right: -12px;
}
.slick__slider__with__arrow button.slick-next::before {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  color: #0047b0;
  font-weight: 900;
}
.slick__slider__with__arrow button:hover {
  background-color: #0047b0;
}
.slick__slider__with__arrow button:hover::before {
  color: #fff;
}

header .top__header {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .top__header .brand__logo {
  display: inline-block;
}
header .top__header .brand__logo img {
  height: 85px;
  width: auto;
}
header .top__header .main__search__box {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
header .top__header .main__search__box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  color: #777;
  font-weight: bold;
  font-size: 20px;
}
header .top__header .main__search__box input {
  border-radius: 4px;
}
header .top__header .main__search__box input.form-control {
  padding-left: 70px;
  height: 56px;
  width: 100%;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #000;
  border: 1px solid #f9f9f9;
  box-shadow: none;
}
header .top__header .main__search__box .select__box {
  position: relative;
}
header .top__header .main__search__box .select__box::after {
  position: absolute;
  content: "";
  top: 20%;
  left: 0;
  height: 60%;
  width: 1px;
  background-color: #777;
}
header .top__header .main__search__box .select__box select {
  font-family: "Josefin Sans", sans-serif;
  height: 56px;
  padding: 0 30px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #000;
  border: 1px solid #f9f9f9;
}
header .top__header .main__search__box ::placeholder {
  color: #777;
}
header .bottom__header {
  display: flex;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
  justify-content: center;
}
header .bottom__header .navigationLink__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .bottom__header .navigationLink__list li a {
  text-decoration: none;
  font-size: 18px;
  font-family: 700;
  font-weight: 600;
  color: #000;
  display: inline-block;
  padding: 20px;
}
header .bottom__header .navigationLink__list li a:hover {
  color: #0047b0;
}
header .bottom__header .navigationLink__list li a:active {
  color: #0047b0;
}

section.hero__section {
  text-align: center;
}
section.hero__section .featured__image {
  margin-bottom: 15px;
}
section.hero__section .featured__image img {
  height: 156px;
  width: auto;
}
section.hero__section .title {
  text-transform: uppercase;
}
section.hero__section .md__title {
  font-size: 28px;
  color: #000;
}
section.hero__section .md__title .count {
  color: #ff3f00;
  text-decoration: underline;
}
section.hero__section .banner__image {
  margin-top: -50px;
}
section.hero__section .banner__image img {
  max-width: 100%;
}

section.banner__section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.countup__section {
  padding-bottom: 0;
}
section.countup__section .top__heading {
  margin-bottom: 50px;
  text-align: center;
}
section.countup__section .countup__list .countup__item {
  text-align: center;
  position: relative;
  transform-style: preserve-3d;
}
section.countup__section .countup__list .countup__item::after {
  content: "";
  position: absolute;
  height: 85px;
  width: 85px;
  background-image: url("../../image/count-up/count__up__bg.png");
  background-repeat: no-repeat;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(-1px);
}
section.countup__section .countup__list .countup__item .count {
  font-size: 60px;
  color: #ff3f00;
  margin-bottom: 10px;
}
section.countup__section .countup__list .countup__item .count__title {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  line-height: 30px;
}
section.countup__section .bottom__graphics {
  width: 100%;
  height: auto;
}

section.newsletter__section {
  padding: 150px 0;
  text-align: center;
  background-image: url("../../image/newsletter/bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.newsletter__section h2 {
  margin-bottom: 30px;
}
section.newsletter__section .shadow__animation {
  display: inline-block;
  position: relative;
  transform-style: preserve-3d;
}
section.newsletter__section .shadow__animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  top: 35%;
  left: -10%;
  border-radius: 4px;
  background-color: #d5e6ff;
  transform: translateZ(-1px);
}
section.newsletter__section .shadow__animation button {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
section.newsletter__section .shadow__animation button::before {
  content: "";
  position: absolute;
  bottom: -60%;
  height: 40px;
  transform: rotate(180deg);
  width: 40px;
  left: -25%;
  background-image: url(../../image/newsletter/an_lines.svg);
  background-repeat: no-repeat;
  z-index: 1;
}
section.newsletter__section .shadow__animation button::after {
  content: "";
  position: absolute;
  top: -60%;
  height: 40px;
  transform: rotate(0);
  width: 40px;
  right: -25%;
  background-image: url(../../image/newsletter/an_lines.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

@keyframes upDown {
  0% {
    top: -30%;
    left: -10%;
  }
  50% {
    top: 0%;
    left: 0%;
  }
}
section.courseList__section .top__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

section.enqueryForm__section {
  position: relative;
  background-color: #f9f9f9;
}
section.enqueryForm__section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../image/enquery-form/graphics.svg");
  background-repeat: no-repeat;
  height: 70%;
  width: 70%;
}
section.enqueryForm__section .form__wrapper {
  border-radius: 4px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
}
section.enqueryForm__section .form__wrapper .top__heading {
  padding: 30px;
  background-color: #0047b0;
}
section.enqueryForm__section .form__wrapper .top__heading h2 {
  text-align: center;
  font-size: 28px;
  color: white;
  margin-bottom: 0;
}
section.enqueryForm__section .form__wrapper form {
  padding: 30px;
}

section.faqsList__section .top__heading {
  margin-bottom: 50px;
  text-align: center;
}

section.banner__section {
  position: relative;
}
section.banner__section .banner__content__image {
  position: absolute;
  height: 500px;
  right: 0;
  bottom: -11px;
}
section.banner__section .banner__content {
  padding: 50px 0;
  max-width: 60%;
}
section.banner__section .banner__content .banner__title {
  font-size: 36px;
  color: white;
  margin-bottom: 30px;
}
section.banner__section .banner__content .total__courses {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}
section.banner__section .banner__content .course__name {
  color: #d5e6ff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

section.expert__testimonial__section {
  background-image: url("../../image/experts/graphics.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.expert__testimonial__section .top__heading {
  margin-bottom: 50px;
  text-align: center;
}
section.expert__testimonial__section .testimony__experts__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}
section.expert__testimonial__section .testimony__experts__list .testimony__image {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-wrap: nowrap;
  flex-shrink: 0;
  margin: 0 36px;
}
section.expert__testimonial__section .testimony__experts__list .testimony__image img {
  width: 100%;
  height: 100%;
}
section.expert__testimonial__section .testimony__experts__list .slick-list {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
section.expert__testimonial__section .testimony__experts__list .slick-center .testimony__image {
  transform: scale(1.2);
  border: 1px dashed #0047b0;
  position: relative;
}
section.expert__testimonial__section .testimony__experts__list .slick-center .testimony__image::after {
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: -15px;
  top: 15px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0047b0;
  color: white;
  flex-shrink: 0;
}
section.expert__testimonial__section .single__testimony {
  text-align: center;
}
section.expert__testimonial__section .single__testimony .testimony__text {
  font-size: 24px;
  color: #000;
  font-style: italic;
  line-height: 40px;
  text-align: center;
  margin-bottom: 50px;
}
section.expert__testimonial__section .single__testimony .testimony__name {
  font-size: 24px;
  color: #ff3f00;
}
section.expert__testimonial__section .single__testimony .testimony__position {
  font-size: 24px;
  color: #777;
}
section.expert__testimonial__section .single__testimony .testimony__company__logo {
  width: 100%;
  text-align: center;
}
section.expert__testimonial__section .single__testimony .testimony__company__logo img {
  height: 80px;
  width: auto;
  display: inline-block;
}

section.success__students__section .top__heading {
  text-align: center;
  margin-bottom: 80px;
}

footer {
  background-color: #0047b0;
  padding: 50px 0;
  text-align: center;
}
footer .brand__logo {
  display: inline-block;
  margin-bottom: 10px;
}
footer .brand__logo img {
  height: 85px;
  width: auto;
}
footer .copyright__text {
  font-size: 16px;
  font-style: italic;
  color: #00c3ff;
}
footer .footer__description {
  font-size: 18px;
  color: #d5e6ff;
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
  font-weight: 400;
}
footer .social__media__list {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  list-style: none;
}
footer .social__media__list li:last-child {
  padding-right: 30px;
  background-color: #0047b0;
}
footer .social__media__list li:first-child {
  padding-left: 30px;
  background-color: #0047b0;
}
footer .social__media__list li a {
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  background-color: #0047b0;
}
footer .social__media__list li a i {
  font-size: 24px;
  color: white;
}
footer .social__media__list::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #1f66cf;
  transform: translateZ(-1px);
}
footer .footer__quick__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer__quick__links li:nth-child(n) {
  position: relative;
}
footer .footer__quick__links li:nth-child(n)::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #d5e6ff;
}
footer .footer__quick__links li:nth-child(n) a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 20px;
}
footer .footer__quick__links li:nth-child(n) a:hover {
  color: #d5e6ff;
}
footer .footer__quick__links li:last-child::after {
  display: none;
}/*# sourceMappingURL=main.css.map */