//font-family
$title-font-family: "Yeseva One", cursive;
$description-font-family: "Josefin Sans", sans-serif;

//font-sizes
$title-font-size: 36px;
$md-title-font-size: 28px;
$sm-title-font-size: 24px;
$description-font-size: 18px;
$md-description-font-size: 16px;
$sm-description-font-size: 14px;
$xs-description-font-size: 12px;

//color
$white: #fff;
$white-light: #f9f9f9;
$black: #000;
$black-70: #777;
$black-10: #e0e0e0;
$orange: #ff3f00;
$blue: #0047b0;
$blue-light: #d5e6ff;
$sky-blue: #00c3ff;

//border-radius
$box-rounded: 4px;
$box-sm-rounded: 2px;

//padding
$section-padding: 50px 0;
