footer {
  background-color: $blue;
  padding: $section-padding;
  text-align: center;

  .brand__logo {
    display: inline-block;
    margin-bottom: 10px;
    img {
      height: 85px;
      width: auto;
    }
  }
  .copyright__text {
    font-size: $md-description-font-size;
    font-style: italic;
    color: $sky-blue;
  }
  .footer__description {
    font-size: $description-font-size;
    color: $blue-light;
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 400;
  }

  .social__media__list {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    list-style: none;
    li {
      &:last-child {
        padding-right: 30px;
        background-color: $blue;
      }
      &:first-child {
        padding-left: 30px;
        background-color: $blue;
      }
      a {
        text-decoration: none;
        display: inline-block;
        padding: 15px;
        background-color: $blue;
        i {
          font-size: $sm-title-font-size;
          color: white;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: #1f66cf;
      transform: translateZ(-1px);
    }
  }
  .footer__quick__links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      &:nth-child(n) {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 1px;
          background-color: $blue-light;
        }
        a {
          display: inline-block;
          color: $white;
          font-size: $description-font-size;
          font-weight: 500;
          text-decoration: none;
          margin: 0 20px;
          &:hover {
            color: $blue-light;
          }
        }
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}
