.primary__button {
  font-size: $description-font-size;
  font-family: $description-font-family;
  font-weight: 600;
  text-decoration: none;
  border-radius: $box-rounded;
  height: 56px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.blue {
    color: $white;
    background-color: $blue;
    border: 1px solid $blue;
    span {
      margin-right: 15px;
    }
  }
  &.orange {
    color: $white;
    background-color: $orange;
    border: 1px solid $orange;
    span {
      margin-right: 15px;
    }
  }
  &.size__lg {
    height: 72px;
    padding: 0 40px;
  }
}

.text__link {
  font-size: $sm-title-font-size;
  font-weight: 600;
  color: $blue;
  text-decoration: none;
  span {
    margin-right: 15px;
  }
}
